Skip to content
 
Search or jump to…

Pull requests
Issues
Marketplace
Explore
 
@jramosr 
0
1 0 stupdesign/asturiangames
 Code  Issues 0  Pull requests 0  Projects 0  Wiki  Security  Insights  Settings
asturiangames/cdn/assets/css/style.css
 Javier Ramos Upload
ed9c7dc on 12 Apr
45 lines (39 sloc)  704 Bytes
  
body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
h1.sidenav-title {
  color: white;
  margin-left:16px;
}
body {
}
© 2019 GitHub, Inc.
Terms
Privacy
Security
Status
Help
Contact GitHub
Pricing
API
Training
Blog
About
